@charset "UTF-8";



/*
========================================
    TOPPAGEはここから
=========================================
*/

.Main_top {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: end;
}

@media screen and (max-width: 960px){
    .Main_top {
        align-items: baseline;
}}


.Main_title {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60px;
    top: 20px;
    z-index: 1;
}

@media screen and (max-width: 960px){
    .Main_title {
        top: 25%;
        left: 0;
        background-color: #11D0C9;
        padding: 12px;
}}

.Main_title .Title {
    background: black;
    color: white;
}

@media screen and (max-width: 960px){
    .Main_title .Title {
        background-color: #fff;
        color: #11D0C9;
}}


.MV_title_top {
    font-size: 120px;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: normal;
}

@media screen and (max-width: 1280px){
    .MV_title_top {
        font-size: 100px;
}}
    @media screen and (max-width: 960px){
        .MV_title_top {
            font-size: 80px;
            color: #fff;
    }}
        @media screen and (max-width: 540px){
            .MV_title_top {
                font-size: 40px;
        }}


.MV_sub_top {
    font-size: 96px;
    letter-spacing: 0.1em;
    display: inline-block;
    line-height: 1;
    margin-bottom: 100px;
    font-weight: normal;
}

@media screen and (max-width: 1280px){
    .MV_sub_top {
        font-size: 72px;
        margin-bottom: 60px;
}}
    @media screen and (max-width: 960px){
        .MV_sub_top {
            font-size: 48px;
            margin-bottom: 40px;
            color: #fff;
    }}
        @media screen and (max-width: 540px){
            .MV_sub_top {
                font-size: 28px;
                margin-bottom: 20px;
        }}



/*
========================================
    Companyはここから
=========================================
*/

.Company {
    width: 100%;
    height: auto;
    background-color: rgba(242, 245, 249, 0.95);
    position: relative;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

@media screen and (max-width: 960px){
    .Company {
        padding: 60px 0;
    }}



.Company_text {
    max-width: 800px;
    width: 50%;
    height: auto;
    margin-left: 60px;
    position: relative;
    z-index: 1;
}



@media screen and (max-width: 960px){
    .Company_text {
        width: 40%;
    }}

    @media screen and (max-width: 540px){
        .Company_text {
            width: 80%;
        }}
    

.Company_text p {
    display: block;
    margin: 80px 0;
}

@media screen and (max-width: 1280px){
    .Company_text p {
        margin: 60px 0;
    }}


@media screen and (max-width: 960px){
    .Company_text p {
        margin: 40px 0;
    }}



.Company_text a {
    position: relative;
    left: 80%;
}


@media screen and (max-width: 960px){
    .Company_text a {
        left: 40%;
    }}



.Company_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.img-1 {
    position: absolute;
    top: 100px;
    right: 0;
    width: 40%;
    height: auto;
}

@media screen and (max-width: 540px){
    .img-1 {
        display: none;
    }}


.img-2 {
    position: relative;
    width: 80%;
    height: auto;
    object-fit: cover;
    margin-left: -60px;
    margin-top: 100px;
}

@media screen and (max-width: 540px){
    .img-2 {
        width: 90%;
        margin-top: 40px;
    }}


.img-3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 40%;
    object-fit: cover;
}

@media screen and (max-width: 540px){
    .img-3 {
        display: none;
    }}



/*
========================================
    Serviceはここから
=========================================
*/
div#Service {
width: 100%;
height: auto;
padding: 100px 0;
display: flex;
justify-content: center;
overflow: hidden;
}

@media screen and (max-width: 960px){
    div#Service {
        padding: 60px 0;
}}


.Service_wrap {
    max-width: 1280px;
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 960px){
    .Service_wrap {
        margin: 60px auto;
        width: 90%;
}}


.Service_info {
    margin-top: 80px;
}

@media screen and (max-width: 1280px){
    .Service_info {
        margin-top: 60px;
}}

@media screen and (max-width: 960px){
    .Service_info {
        margin-top: 40px;
}}


.Service_info ul {
    width: 100%;
    height: auto;
}

.Service_info ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1280px){
    .Service_info ul li {
        gap: 40px;
        margin-top: 60px;
}}

@media screen and (max-width: 960px){
    .Service_info ul li{
        margin-top: 40px;
}}

@media screen and (max-width: 540px){
    .Service_info ul li{
        gap: 30px;
}}



.Service_info ul li:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 540px){
    .Service_info ul li:nth-child(even) {
    flex-direction:row;
}}



.Service_info ul li:last-child {
    margin-bottom: 0;
}

.Service_info_img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 540px){
    .Service_info_img {
    width: 35%;
}}


.Service_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 40px;
}

@media screen and (max-width: 540px){
    .Service_text {
    width: 90%;
}}


.Service_info ul li:nth-child(even) .Service_text {
    align-items: end;
}

@media screen and (max-width: 540px){
    .Service_info ul li:nth-child(even) .Service_text {
    align-items: baseline;
}}



/*
========================================
    Recruitはここから
=========================================
*/

.Recruit {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 60px;

}

@media screen and (max-width: 960px){
    .Recruit {
        padding: 40px;
    }}

    @media screen and (max-width: 540px){
        .Recruit {
            height: auto;
        }}
    


.Recruit_text {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: white;
}

@media screen and (max-width: 960px){
    .Recruit_text {
        width: 60%;
}}

@media screen and (max-width: 960px){
    .Recruit_text {
        width: 80%;
}}



.Recruit_text h2 {
    margin-top: 80px;
}

@media screen and (max-width: 960px){
    .Recruit_text h2 {
        margin-top: 60px;
    }}

@media screen and (max-width: 960px){
    .Recruit_text h2 {
        margin-top: 40px;
    }}


.Recruit_text p {
    display: block;
    margin-top: 40px;
}

@media screen and (max-width: 960px){
    .Recruit_text p {
        margin-top: 20px;
    }}

    .Recruit_text .btn-1 {
        margin-top: 80px;
        color: black;
    }

    @media screen and (max-width: 1280px){
        .Recruit_text .btn-1 {
            margin-top: 60px;
        }}


    @media screen and (max-width: 960px){
        .Recruit_text .btn-1 {
            margin-top: 40px;
        }}
    



.Recruit_img_box {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: baseline;
}


@media screen and (max-width: 960px){
    .Recruit_img_box {
        align-items: center;
        justify-content: center;
        width: 40%;
}}


@media screen and (max-width: 540px){
    .Recruit_img_box {
        display: none;
}}



.Recruit_img {
    height: auto;
    width: 55%;
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 960px){
    .Recruit_img {
        width: 100%;
}}


.Rec_right_img {
    position: relative;
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: 1;

}

@media screen and (max-width: 960px){
    .Rec_right_img {
        display: none;
}}




